.home-page-container {
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: #EDF1F4;
}

header {
  font-family: muli-bold;
  font-size: 21px;
  color: #24233A;
  margin-top: 4%;
}

.home-page-container .resume {
  flex-shrink: 0;
  width: 70%;
  margin: 25px 0px;
  padding: 20px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:  #FFF;
  box-shadow: 0 0 10px 0 rgba(240,240,240,0.9);
}

.section-container {
  width: 90%;
  margin: 20px 0px;
}

.section-container .title {
  font-family: muli-semi-bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #24233A;
  padding: 10px 0px 20px;
}

.description {
  border: 1px solid rgba(36,35,58,0.25);
}

.description .add-field {
  width: 70px;
  padding: 20px 0px 15px 15px;
  font-family: muli-bold;
  font-size: 17x;
  color: #14C5DF;
  cursor: pointer;
}

/* button */

.button {
  width: 10.063em;
  flex: 0 0 3em;
  border: 0;
  background-color: #14C5DF;
  color: #FFFFFF;

  border-radius: 4px;
  letter-spacing: 0.3px;
  font-size: 1em;
  font-family: muli-bold;
  cursor: pointer;
}

.button:focus{
  outline: none;
}

/* mobile devices */

@media only screen and (max-width: 550px) {
  .home-page-container .resume {
    flex-shrink: 0;
    width: 95%;
    margin: 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: 0 0 10px 0 rgba(240,240,240,0.9);
  }
  
}